<div class="jumbotron">
  <div class="container">
    <h1>{{intro.title}}</h1>
    <p>{{intro.message}}</p>
    <p><a href="mailto:{{contact.email}}?subject={{contact.subject}}&amp;body={{contact.body}}" class="btn btn-primary btn-lg" role="button">{{intro.button}}</a></p>
  <a >
    Contact Us</a>
  </div>
</div>