<div class="container team">
      <!-- Example row of columns -->
      <h2>{{teamName}}</h2>
      <hr />
      <div class="row">
        {{#each team}}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 team-item">
          {{!-- Image --}}
          <img class="img-circle" data-src="holder.js/140x140" alt="140x140" src="{{image}}" style="width: 140px; height: 140px;">
          <h2>{{name}}</h2>
          {{!-- Description --}}
          <p>
            {{description}}<br/>
            <a href="https://twitter.com/{{twitter}}"><b>@{{twitter}}</b></a>
          </p>
          {{!-- Technos --}}
          <div class="btn-group">
            {{#each technos}}<kbd>{{this}}</kbd>&nbsp{{/each}}   
          </div>
        </div>
        {{/each}}
      </div>

      <hr>
</div>
